/*=================
HEADER
=================*/
@import "variables.less";
header#main {
	nav {
		background: #81372D;
	}
	a.navbar-brand {
		font-size: 1.5em;
		font-weight: 600;
	}
	button {
		background: lighten(#643123, 15%);
		border: 1px solid lighten(#643123, 5%);
		&:hover {
			background: darken(#643123, 5%);
		}
	}
}

div.banner {
	min-height: 98px;
	background: #081147 url(../img/bg-banner.jpg) no-repeat center bottom;
	margin: 0 0 0 0;
	background-size: cover;
	header#main.home & {
		background: #081147 url(../img/bg-banner-home.jpg) no-repeat center top;
		min-height: 315px;
		background-size: cover;
		height: 315px;
		h1 {
			font-size: 3.75em;
			font-weight: 600;
		}
	}
	h1 {
		color: #fff;
		font-size: 2.8125em;
		float: left;
	}
	h2 {
		font-weight: 200;
		font-size: 0.875em;
		color: #fff;
		color: rgba(255, 255, 255, .5);
		margin: 0 0 0 0;
	}
	div.profile {
		float: right;
		text-align: right;
		padding: 35px 0 0 0;
		a {
			font-size: 0.75em;
			color: #fff;
			font-weight: 200;
		}
	}
}

/*=================
MAIN SECTION
=================*/

/* CURRENT DATE */
div.global-date {
	margin-top: -20px;
	h3 {
		font-size: 1em;
		margin: 0;
		padding: 10px;
		border-radius: 0px 0px 3px 3px;
		background: lighten(@brand-primary, 50%);
		float: right;
		border: 1px solid #ccc;
		border-top:0px solid #ccc;
		display: inline-block;
		small {
			font-size: .75em;
			color: darken(@brand-primary, 20%);
			opacity: .5;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}

form.filter {
	text-transform: uppercase;
	label {
		padding-top: 5px;		
	}
	select {
		font-weight: bold;
		text-transform: uppercase;
	}
}

section#main {
	margin-bottom: 300px;
}

/*=================
LOGIN 
==================*/

form.login {
	position: relative;
	background: #fff;
	border-radius: 10px;
	margin: 120px 0 0 0;
	padding: 40px 40px 40px 30px;
	box-shadow:0px 5px 10px rgba(0, 0, 0, .2);
	label {
		text-align: right;
		width: 100%;
		display: block;
	}
	input[type="email"], input[type="password"] {
		margin-bottom: 15px;
	}
	small {
		padding-bottom: 15px;
		display: block;
		float: left;
		margin-left: 5px;
		padding-top: 2px;
	}
	input[type="checkbox"] {
		float: left;
	}
	p {
		color: #fff;
		color: rgba(255, 255, 255, .7);
		font-weight: bold;
		margin-top: -65px;
	}
}

h1.tagline {
	color: darken(@brand-primary, 30%);
	padding-top: 30px;
	line-height: 42px;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm-min) { 
	form.login {
		margin-top: 200px;
		padding-top: 70px;
		border-radius: 0;
		box-shadow: 0 0 0 rgba(0, 0, 0, 0);
		border-bottom:1px solid #ccc;
		p {
			margin-top: -95px;
			margin-bottom: 40px;
			
		}
		label {
			text-align: left;
		}
	}
	img.lhc-logo {
		margin-top: 200px;
	}
}

/* Medium devices */
@media (max-width: @screen-md-min) { 
	form.login {
		label {
			font-size: .85em;
			padding-top: 10px;
		}
	}
}

/*=================
DASHBOARD
==================*/

div.location-list {
	padding-top: 100px;
	div.location {
		margin-bottom: 35px;
		img {
			width: 100%;
			padding-bottom: 10px;
		}
	}
	div.location-container {
		border: 1px solid #a1a1a1;
		position: relative;
	}
	div.gradient {
		position: absolute;
		width: 100%;
		top:0;
		img {
			width: 100%;
		}
		h1 {
			color: #fff;
			margin-top: -60px;
			margin-left: 15px;
		}
	}
	p {
		&.audit {
			font-size: .75em;
			padding: 0 0 10px 15px;
			color: #a1a1a1;
			&.overdue {
				color: #000;
				&:before {
					content:url(../img/ico-alert.png);
					padding-right: 5px;
					float: left;
				}
				&.none {
					visibility:hidden;
					&:before {
						visibility: hidden;
					}
				}
			}
			
		}
		&.eligible {
			padding: 5px 0 5px 15px;	
			&:after {
				content:"eligible for review";
				color: #a1a1a1;
				padding-left: 5px;
			}
		}
		margin: 0 0 0 0;
	}
	hr {
		margin: 0;
		padding: 0;
	}
	a.btn {
		margin-top: -20px;
		margin-right: 15px;
	}
	div.review {
		padding: 10px 15px 15px 0;
	}
	div.progress {
		border-radius: 0;
		width: 100%;
		background: #fff;
		position: relative;
		margin-bottom: 0;
		border-top:1px solid #ccc;
		span {
			color: #fff;
			position: absolute;
			left: 15px;
			top:0;
			font-weight: bold;
			
		}
	}
}

/*=================
PATIENT RECORD
==================*/

.patient {
	background: lighten(@brand-primary, 50%);
	border:1px solid lighten(@brand-primary, 30%);
	padding: 50px 0;
	label.btn.btn-default.active {
		background: lighten(@brand-primary, 20%);
		color: #fff;
	}
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm-min) {
	.patient {
		padding: 40px 40px;
	}
}

/*=================
TOUCHPOINT REPORT
==================*/
div.report {
	padding: 45px 0;
}

div.report-row {
	margin-bottom: 40px;
	select {
		width: 100px;
	}
	div.indicator {
		max-width: 350px;
		small {
			font-size: .7em;
			padding-bottom: 5px;
		}
	}
}


/*=================
TOUCHPOINT RECORD
==================*/

div.touchpoint-record {
	h3.date {
		margin-bottom: 30px;
		font-size: 1.5em;
		margin-top: 0;
	}
	div.touchpoints {
		h4 {
			margin: 0;
			padding: 0;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				font-weight: bold;
				&.past {
					a {
						color: #313131;
					}
				}
				&.current {
					a {
						color: @brand-primary;
					}
				}
				a {
					color: #c9cbca;
				}
			}
		}
	}
}

div.patient-edit {
	h3 {
		margin: 0;
		padding: 0;
		font-size: 1.5em;
	}
	h4 {
		margin: 0;
		padding: 0;
		color: #999999;
		font-size: 1em;
		font-weight: 300;
		line-height: 1.2;
	}
	a {
		text-decoration: underline;
	}
}

/*=================
TOUCHPOINT
=================*/
div.touchpoint-progress {
	margin-top: 10px;
	height: 30px;
	div.progress-bar {
		padding-top: 5px;
	}
	div.progress-bar-current {
		background: lighten(@brand-primary, 20%);
	}
	div.progress-bar-past {
		background: darken(@brand-primary, 20%);
		a {
			color: #fff;
		}
	}
	div.progress-bar-future {
		background: transparent;
		color: #787878;
		border-bottom:none;
	}
}

/*=================
ADMIN PANEL
=================*/

#admin-panels {
	margin-top: 100px;
	div.panel {
		background: lighten(@brand-primary, 50%);
		height: 200px;
		//border-radius:5px;
		position: relative;
		//border: 1px solid #ccc;
		hr {
			
		}
		&.admin-locations {
			background: lighten(@brand-primary, 50%) url(../img/bg-admin-locations.png) bottom right no-repeat;
		}
		&.admin-insurers {
			background: lighten(@brand-primary, 50%) url(../img/bg-admin-insurers.png) bottom right no-repeat;
		}
		&.admin-users {
			background: lighten(@brand-primary, 50%) url(../img/bg-admin-users.png) bottom right no-repeat;
		}
		h3 {
			color: #767676;
		}
		a.btn {
			position: absolute;
			bottom: 15px;
			right: 15px;
		}
	}
}

/*=================
FORMS
=================*/

form {
	input[type="text"], input[type="email"], input[type="date"], input[type="phone"], input[type="password"], textarea {
		border: 1px solid #ccc;
		border-radius: 5px;
		font-size: 0.875em;
		padding: 9px 10px;
		width: 100%;
	}
	label.optional {
		color:#919191;
	}
	input[type="date"] {
		padding: 0 10px;
		text-transform: uppercase;
		font-weight: bold;
	}
	::-webkit-input-placeholder { 
		font-weight: bold;
		text-transform: uppercase; 
		color: #cecece;
	}
	::-moz-placeholder { 
		font-weight: bold;
		text-transform: uppercase;
		color: #cecece;
	} /* firefox 19+ */
	:-ms-input-placeholder { 
		font-weight: bold;
		text-transform: uppercase;
		color: #cecece;
	} /* ie */
	input:-moz-placeholder { 
		font-weight: bold;
		text-transform: uppercase;
		color: #cecece;
	}
	select {
		text-transform: uppercase;
		font-weight: bold;
	}
	div.btn-group {
		button {
			text-transform: uppercase;
			font-weight: bold;
		}
		label {
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	p {
		position: relative;
	}
	input[name="city"], input[name="first_name"], input[name="last_name"], input[name="address"], input[name="cardiologist_first_name"], input[name="cardiologist_last_name"] {
		text-transform: capitalize;
	}
}

.patient-state {
	max-width: 230px;
	padding-top: 5px;
	label {
		&.btn.btn-default.active-patient.active {
			background: @brand-success;
			color: #fff;
		}
		&.btn.btn-default.expired-patient.active {
			background: @brand-danger;
			color: #fff;
		}
		&.btn.btn-default.archived-patient.active {
			background: @brand-warning;
			color: #fff;
		}
		&.btn {
			font-size:14px;
			text-transform: none;
			font-weight: normal;
		}
		input {
			display:none;
		}
	}
}

form.patient {
	select {
		width: 100%;
	}
	div.media-body {
		label {
			//margin-top: -10px;
			small {
				font-weight: normal;
			}
		}
	}
	p {
		padding-bottom: 20px;
		display: block;
		&.profile {
			padding-bottom: 15px;
		}
	}
	p.profile {
		img {
			margin-right: 15px;
			margin-top: -30px;
		}
		label {
			margin-bottom: 0;
			
		}
		a {
			margin: 0 0 0 0;
		}
	}
	div.btn-group {
		margin: -30px 0 0 0px;
		float: left;
		width: 100%;
		&.treatment-locations {
			max-width: 370px;
		}
		.btn-title {
			width: 100%;
			display: block;
			text-align: left;
		}
		&.state {
			margin: 25px 0 0 -120px;
			max-width: 105px;
		}
		&.insurer {
			margin-bottom: 30px;
			max-width: 775px;
			margin-left: 15px;
		}
	}
	div.cardio-name {
		margin-top: -30px;
	}
	input[type="submit"] {
		margin-left: 20px;
	}
}

span.help-block {
	margin: 0 0 0px 0;
	display: block;
	position: absolute;
	font-size: 12px;
	width: 100%;
	text-align: right;
	display: none;
	opacity: 0;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: @screen-sm-min) {
	form.patient {
		div.btn-group {
			margin: -30px 0 0 0px;
			float: none;
			&.state {
				margin: -30px 0 0 18px;
			}
		}
	}
}

/*=================
COMPONENTS
=================*/

a.bg-info {
	color: darken(@brand-primary, 40%);
	width: 100%;
	display: block;
	border-radius: 5px;
	padding: 15px 0;
	display: none;
	&:hover {
		text-decoration: none;
	}
}

table {
	font-size: 0.875em;
	a.btn {
		font-size: 0.8571428571em;
	}
	a.view {
		width: 90px;
	}
	th {
		&:last-child {
			text-align: center;
		}
	}
	td {
		&:last-child {
			a.btn {
				margin-left: auto;
				margin-right: auto;
				display: block;
				margin-top: 5px;
			}
		}
	}
}

table.queue {
	margin-bottom: 65px;
	&.past-due {
		td {
			&:nth-child(5) {
				span {
					&:before {
						content:url(../img/ico-alert.png);
						margin-right: 10px;
					}
				}
			}
		}
	}
	td {
		&:first-child {
			width:50px;
		}
		&:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
			padding-top: 17px;
		}
	}
}

table.reports {
	td {
		span.reports-style {
			padding: 10px 0 0 0;
			display: block;
		}
		&:first-child {
			width:50px;
		}
		&:nth-child(4), &:nth-child(5) {
			padding: 0px 0 0 0;
		}
		&:nth-child(2), &:nth-child(3) {
			padding-top: 0px;
		}
		&:nth-child(4) {
			span {
				padding-left: 8px;
			}
			a {
				margin-right: 5px;
			}
		}
	}
	a {
		&.btn-default {
			border-color: @brand-primary;
			margin-bottom: 5px;
			margin-top: 5px;
			margin-right: 5px;
			&.inactive {
				border:none;
				background: transparent;
				color: #a1a1a1;
				&:hover {
					background: transparent;
					cursor: default;
				}
			}
		}
		&.btn-warning {
			border-color: #ed9c28;
			margin-bottom: 5px;
			margin-top: 5px;
			margin-right: 5px;
			background: #fff;
			color: #333;
		}
		&.btn-danger {
			border-color: #999999;
			margin-bottom: 5px;
			margin-top: 5px;
			margin-right: 5px;
			background: #fff;
			color: #333;
		}
	}
	img {
		width: 40px;
	}
}

.table > tbody > tr > td.td_valign {
  //padding-top: 14px;
  vertical-align: middle;
}

table.reports a.btn-warning {
	border-color: #ed9c28;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	background: #fff;
	color: #333;
}
table.reports a.btn-danger {
	border-color: #999999;
	margin-bottom: 5px;
	margin-top: 5px;
	margin-right: 5px;
	background: #fff;
	color: #333;
}

/*=================
FOOTER
=================*/

footer#main {
	color: #999999;
	font-size: 0.875em;
	margin-top: 375px;
	nav {
		min-height: 60px;
		padding-top: 20px;
		border-radius: 0px;
		background: #202629;
		margin-bottom: -100px;
		&.navbar-fixed-bottom {
			margin-bottom: 0;
		}
	}
	p {
		float: left;
	}
	ul {
		float: right;
	}
	li {
		display: inline-block;
		&:first-child, &:nth-child(2) {
			margin-right: 30px;
		}
		a {
			color: #999;
		}
	}
}


/*=================
COMMON
=================*/

.clear {
	clear: both;
}



